$color-accent: #0D4D5C

$font-manrope: "Manrope", sans-serif
$font-crimson: "Crimson", serif

$heading-font-family: $font-crimson
$body-font-family: $heading-font-family

$h1-font-family: $font-manrope
$h1-size: pxToRem(40)
$body-size: pxToRem(20)
$body-size-desktop: pxToRem(25)
$body-line-height: 140%
$meta-size: pxToRem(12)
$meta-font-family: $font-manrope

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(60)
$hero-background-color: none
$footer-color: white
$footer-background-color: $color-accent
$footer-logo-height-desktop: $header-logo-height-desktop
